{{define "footer"}}
<section class="footer-copyright"><p>© <span id="copyright-year">2022</span> All rights reserved.</p><p>All other trademarks are property of their respective owners.</p></section>
{{end}}