{{define "header"}}
<header>
    <div class="logo">
        <div>
            <a href="/" class="logo">
                {{template "svgs"}}
            <h1 class="logo logo-text">
                <span style="color:#000000;">DomainChecker</span>
            </h1>
            </a>
        </div>
    </div>
    
</header>
{{end}}