<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DomainChecker</title>
    <link rel="stylesheet" href="public/main.css">
    <link rel="icon" type="image/x-icon" href="public/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Tinos:wght@700&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/8a86b3e611f41da6ca263bf6c73dc65b?family=GDSage-Bold" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
            {{template "header"}}
            {{template "main-search"}}
        </div>
        <div id="footer">
            {{template "footer" .Year}}
        </div>
    </div>
</body>
</html>